.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin: 92px 24px 96px;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.17px;
  line-height: 1.3;
  text-align: left;
}

.header-menu {
  margin-top: 44px;
  margin-left: 26.5px;
}

.header-links-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  list-style-type: circle;
}

.header-list-item-no-bullit {
  list-style: none;
  text-decoration: none;
}

.header-list-item {
  margin-left: 31.48px;
  text-decoration: underline;
}

.header-logo {
  margin-right: 150px;
  height: 100%;
  width: 135px;
}

.contacts {
  width: 240.52px;
  margin-right: 25.5px;
  line-height: 1.37;
  list-style: none;
}

.contacts-header {
  margin-top: 6px;
}

.underline {
  text-decoration: underline;
  font-style: normal;
}

.address {
  font-style: normal;
  font-size: 18px;
}

.cover {
  position: relative;
  background: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
  min-height: 758px;
  margin: 0;
  z-index: 0;
}

.cover-title {
  margin-top: 196px;
  margin-left: 50px;
  max-width: 1000px;
  font-size: 100px;
  text-transform: uppercase;
  color: white;
  z-index: 2;
}

/* оно */
.alignned-text {
  display: block;
  text-align: left;
  letter-spacing: 30px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.alignned-text-center {
  display: block;
  margin-top: 80px;
  text-align: center;
  letter-spacing: 30px;
}

.alignned-text-right {
  display: block;
  margin-top: 73px;
  text-align: right;
  letter-spacing: 30px;
}

/* o */
.no-letter-spacing {
  letter-spacing: 0;
}

.cover-description {
  color: white;
  margin-top: 164px;
  margin-left: 79px;
  max-width: 1000px;
  display: flex;
  z-index: 2;
}

.cover-description-letters {
  margin-top: 15px;
  word-spacing: 18px;
  font-size: 22px;
  text-transform: uppercase;
  z-index: 2;
}

.bet-button {
  min-height: 51px;
  width: 256px;
  margin-left: 82px;
  border: 1px solid white;
  background-color: transparent;
  font-size: 22px;
  text-transform: uppercase;
  color: white;
  z-index: 2;
  font-family: Raleway, sans-serif;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  inset: 0;
  z-index: 1;
}

.lots {
  margin: 175px 24px 146px;
  min-height: 695px;
}

.lots-heading {
  font-size: 40px;
  text-transform: uppercase;
  line-height: 47px;
  margin-left: 38px;
  margin-top: 0;
}

.lots-cars-list {
  margin-top: 25px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 32%);
  column-gap: 2%;
}

.card {
  position: relative;
  min-height: 560px;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-link {
  display: block;
  z-index: 2;
}

.card-title {
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 22px;
  color: white;
  margin-top: 50px;
  margin-right: 40px;
  margin-left: 40px;
  z-index: 2;
}

.card-text {
  color: rgb(215, 211, 211);
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 45px;
  z-index: 2;
}

.card-film {
  background-image: url("../images/card-lot-01.jpg");
  z-index: 0;
}

.card-book {
  background-image: url("../images/card-lot-02.jpg");
  z-index: 0;
}

.card-picture {
  background-image: url("../images/card-lot-03.jpg");
  z-index: 0;
}

.look-more {
  text-decoration: underline;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  margin-top: 35px;
  margin-left: 40px;
}

.about {
  margin-top: 14px;
  margin-left: 24px;
  margin-right: 24px;
  min-height: 595px;
  display: grid;
  grid-template-columns: 32% 66%;
  grid-template-rows: 47% 53%;
  column-gap: 2%;
}

.column {
  /* align-content: center; */
}

.about-logo {
  margin: auto;
  margin-top: 30px;
  width: 240px;
  aspect-ratio: 1/1;
  background-color: black;
  border-radius: 50%;
  /* align-content: center; */
  padding-top: 65px;
}

.about-logo-image {
  display: flex;
  margin: auto;
  width: 148px;
  height: 114px;
}

.about-title {
  margin-top: 142px;
  font-size: 40px;
  text-transform: uppercase;
}

.about-text-column {
  grid-column-start: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  margin: 178px 50px 88px;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.17px;
  line-height: 1.3;
}

.contacts-footer {
  list-style: none;
}

.footer-menu {
  margin-left: 18px;
  line-height: 1.17;
}

.footer-list-item {
  list-style: none;
  text-align: center;
  text-decoration: underline;
}

.footer-list-item-active {
  list-style: none;
  text-decoration: none;
  text-align: center;
}

.footer-icons-list {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.icon {
  margin-left: 48px;
}

.footer-social-icon {
  height: 48px;
}
/*  */
